
<!-- jQuery -->
<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- jQuery UI -->
<script src="{{ url_for('static', filename='jquery-ui.min.js') }} " integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }} " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
