
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >

<!-- Optional theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" >

<!-- jQuery CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}">

<!-- FontAwesome -->
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">

<!-- Custom Style -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
